<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Spring Shop Online</title>
      <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
      <th:block th:include="/_header"></th:block>
   </head>
   <body>
      
      <th:block th:include="/_menu"></th:block>
       
      <section id="spring1">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
  </ol>

  <div class="carousel-inner">
    

     
    <div class="carousel-item active">
      <video loop="" autoplay="" playsinline="" src="https://brand.assets.adidas.com/video/upload/q_auto,vc_auto/video/upload/global%20brand%20publishing/Running/Faster%20Than/running-ss20-faster-than-launch-hp-masthead-small-ub20-d.mp4" style=" width: 100%;" ></video>
      
      <div class="carousel-caption d-none d-md-block">
    <h1 style="font-size: 50px; font-weight: 900; margin-bottom: 140px; margin-right: 600px; color: #000;">ULTRABOOST 20 <br>
<p style="font-size: 1rem; color: #000;">Iconic Boost. Outrageous energy return. Bold new colors.<br> Hello, Ultraboost 20.</p>
 <a href=""  style="clear:both; background: #000; border: none; color: #fff; font-size: 1em; padding: 10px; cursor: pointer; font-size: 17px;" />SHOP MEN <span class="fa fa-arrow-right" style="margin-left: 9px;"></span></a>
    </h1>
    
  </div>
    </div>
   
  </div>
  
</div>
</section>
<br>

<!-- ------------------------------section end---------------------------------- -->
  
      <!-- ------------------------------section end---------------------------------- -->
      <section id="product_sec">
         <div class="row">
           <div class="col-lg-3">
             <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/esMX/Images/Teaser-EG4958-DT_tcm217-455182.jpg">
             
           </div>

           <div class="col-lg-3">
             <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/esMX/Images/Teaser-EG1144-DT_tcm217-467995.jpg">
           </div>

           <div class="col-lg-3">
             <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/esMX/Images/Teaser-FJ9352-DT_tcm217-468023.jpg">
           </div>

           <div class="col-lg-3">
             <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/esMX/Images/Teaser-B37681-DT_tcm217-468028.jpg">
           </div>
         </div>
      </section>


<!-- ------------------------------carousel end---------------------------------- -->
<!-- {{-- ======================= start of addias 2 ==================== --}} -->
    <div class="row">
        <div class="col-md-6 col-xs-12 col-sm-12">
            <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/training-ss20-IWD2020-tease-hp-teaser-large-v1-d_tcm221-454500.jpg" width="700px" height="500px" style="margin-left: 50px">
              <div class="container">
          <div class="carousel-caption">
            <h2>PLAY YOUR WAY</h2>
            <p>Designed for those who reimagine sport.</p>
            <p><a class="btn btn-lg btn-dark" href="#" role="button">SHOP NOW <i class="fa fa-arrow-right"></i></a></p>
          </div>
        </div>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12">
            <img src="https://image.adidas.co.kr/upload/banner/e02ec17e36254f6190087532235d6b00_0221100140.jpg" width="700px" height="500px">
              <div class="container">
          <div class="carousel-caption">
            <h2>WORK IT OUTSIDE</h2>
            <p>Get inspired to bootcamp equipment-free in high support tights.</p>
            
            <p><a class="btn btn-lg btn-dark" href="#" role="button">SHOP NOW <i class="fa fa-arrow-right"></i></a></p>
          </div>
        </div>
        </div>
    </div>


    <br><br>
    <!-- {{-- ======================= end of addias 2 ==================== --}} -->




<!-- ------------------------------Offer end---------------------------------- -->
<section id="about">
  <div class="section-content">
    <div class="container">

      <div class="col-md-6">
        <div class="about-text">
          <h3>About me</h3>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <h5>Follow me</h5>
        <a href="" class="btn btn-sm btn-outline-light">Facebook</a>
        <a href="" class="btn btn-sm btn-outline-light">Twitter</a>
        <a href="" class="btn btn-sm btn-outline-light">Github</a>

        </div>
      </div> 
    </div>
  </div>
</section>

<!-- ------------------------------About end---------------------------------- -->
<section id="restaurants_bars">
  <div class="section-content">
    <div class="container">
      <h2 class="h2_offer">RESTAURANTS & BARS</h2>
      <hr>
      <div class="row">
        <div class="col-sm-12">
          <div class="card-columns">
  <div class="card">
    <img src="https://d2e5ushqwiltxm.cloudfront.net/wp-content/uploads/sites/178/2019/03/12021201/NovotelYangonMax-restaurants_barssession-royalpavilionchineserestaurant-photo1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card p-3">

    <blockquote class="blockquote mb-0 card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img src="https://d2e5ushqwiltxm.cloudfront.net/wp-content/uploads/sites/178/2019/03/11094953/NovotelYangonMax-restaurants_barssession-lecellier-photo1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card text-white text-center p-3" style="background: #000;">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
      <footer class="blockquote-footer text-white">
        <small>
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>

  <div class="card text-center">
    <img src="https://d2e5ushqwiltxm.cloudfront.net/wp-content/uploads/sites/178/2019/03/12023336/barcodektvphoto1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card">
    <img src="https://d2e5ushqwiltxm.cloudfront.net/wp-content/uploads/sites/178/2019/03/11095355/takumiyajapanesephoto1.jpg" class="card-img-top" alt="...">
  </div>

  <div class="card p-3 text-right text-white" style="background: #000;">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>

  <div class="card">
    <img src="https://d2e5ushqwiltxm.cloudfront.net/wp-content/uploads/sites/178/2019/05/20071244/In-room-dining2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
        </div>
      </div>
    </div>
  </div>
</section>
  
<footer id="footer-sub">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
          <img src="https://novotelyangonmax.com/wp-content/themes/novotel-template/images/logo/logo-novotel.svg">

          <img src="img/logo_m_global.png">

          <img src="img/Pan-Pacific-Yangon-Hor.svg">


       </div>
       <div class="col-sm-4">


       </div>
    </div>
  </div>
</footer>

<!-- ------------------------------footer sub end---------------------------------- -->

  <footer id="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
            <img src="img/footer-logo.png"><br>

            <h6 class="mt-3">HOTEL LOTTE</h6>
            <p>
              
              No. 82, Sin Phyu Shin Avenue, Pyay Road, 6½ Mile, Ward 11, Hlaing Township, Yangon, Myanmar<br>
              +95-1-9351000
            </p>
        </div>
        <div class="col-sm-3">
          
        </div>
        <div class="col-sm-3">
          <a href="">About LOTTE</a>
          <a href="">LOTTE HOTEL Brands</a>
          <a href="">News</a>
          <a href="">Awards</a>
          <a href="">Gallery</a>
          <a href="">Sitemap</a>
        </div>
        <div class="col-sm-3">
          <a href="">Voice of Customer</a>
          <a href="">Contacts by Branch</a>
          <a href="">Ethics Reporting</a>
          <a href="">Careers</a>

          <br><br>
          <a href="">Business Inquiry</a>
          <br>
          <a href="" class="ico"><i class="fab fa-apple fa-2x"></i> Apple Store</a>
          <a href="" class="ico"><i class="fab fa-google-play fa-2x"></i> Google Play</a>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <img src="img/footer-img-lottedfs.png">
          <img src="img/footer-img-skyhill.png">
          <img src="img/footer-brand-resort.png">
        </div>
        <div class="col-sm-6">
          
        </div>
        <hr>
        <a href="" style="margin-left: 1rem">Privacy Policy | LOTTE HOTEL Rewards Terms of Use</a>
      </div>
    </div>
  </footer>
<!-- ------------------------------footer end---------------------------------- -->
       
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>