<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Spring Shop Online</title>
      <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
      <th:block th:include="/_header"></th:block>
   </head>
   <style>
   	.box {
    width: 230px;
    height: 155px;
    margin-bottom: 5px;
	}
	
   </style>
   <body>
      
      <th:block th:include="/_menu"></th:block>
      
      
  
    <div class="container">
        <h2 style="font-weight: bold;">Product List</h2>
        
        
        <div class="row">
          <div class="col-md-12 col-sm-12">
           <div class="row">
            
            <div th:each="prodInfo : ${paginationProducts.list}">
             <div class="">
              <div class="display">
     <img th:src="@{|/productImage?code=${prodInfo.code}|}" alt="..." 
     style="width:280px; height:320px; margin-bottom:5px; margin-right:2px;">
     <div class="box">
      <h6 class="h6_offer">Originals</h6>
      <p style="font-size:13px;"><span th:utext="${prodInfo.name}"></span><br>
        $<span th:utext="${prodInfo.price}"></span>
      </p>
      <h6 class="h6_offer">2 colors</h6>
      <a th:href="@{|/buyProduct?code=${prodInfo.code}|}" class="btn btn-link" >Buy Now</a>
            </div>
             </div>
             
             <!-- For Manager edit Product -->
            <th:block sec:authorize="hasAuthority('ROLE_MANAGER')">
               
                 <a style="color:red;"
                    th:href="@{|/admin/product?code=${prodInfo.code}|}">Edit Product</a>
               
            </th:block>
            </div>
       		</div>
      
       
      
       
      <br/>
    
      <!-- ------------------------------Offer end---------------------------------- -->
      
      </div> 


          </div>
        </div>
        <br><br>
  <!-- nav start  -->
  		<div class="row">
  		<div class="col-lg-6 offset-4">
        <div class="" th:if="${paginationProducts.totalPages > 1}">
         <th:block th:each="page : ${paginationProducts.navigationPages}">
         
            <a th:href="@{|/productList?page=${page}|}" th:if="${page != -1}"
               class="btn btn-dark" style="border-radius: 0%; margin:2px;" th:utext="${page}"></a>
               
            <span class="btn btn-dark" style="border-radius: 0%; margin:2px;" th:if="${page == -1}"> ... </span>
             
         </th:block>
         </div>
         </div>
      </div> <!-- nav end -->
    </div><!-- container end -->
  


<!-- ------------------------------Offer end---------------------------------- -->
      
      
       
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>